<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34187435133-tvl4t0lbc7vc44b1u9eciop3viv690t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34187435133-tvl4t0lbc7vc44b1u9eciop3viv690t9</string>
	<key>API_KEY</key>
	<string>AIzaSyBX317-F6Ozn88UiFq7P9_np5HQNBxtVck</string>
	<key>GCM_SENDER_ID</key>
	<string>34187435133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IZinde.GBShop</string>
	<key>PROJECT_ID</key>
	<string>gbshop-d2786</string>
	<key>STORAGE_BUCKET</key>
	<string>gbshop-d2786.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34187435133:ios:9e81270cdb96f9519a2514</string>
</dict>
</plist>